html, body {
  height: 100%;
  margin: 0;
  background: #000;
}

canvas {
  background: #000;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

svg g.rotate polyline{
  animation-duration: 5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-direction: alternate; */
  /* transform-origin: center; */
}
svg g.scale polyline{
  animation-duration: 5s;
  animation-name: scale;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-direction: alternate; */
  /* transform-origin: center; */
}

@keyframes rotate {
  0%{
    transform:rotate(0deg);
  }
  10%{
    transform: rotate((10deg));
  }
  60%{
    transform: rotate(270deg);
  }
  100%{
    transform:rotate(360deg)
  }
}
@keyframes scale {
  0%{
    transform:scaleY(1);
  }
  10%{
    transform: scaleY(1);
  }
  60%{
    transform: scaleY(-1);
  }
  100%{
    transform:scaleY(1);
  }
}